.login {
    background-color: #0C1116;
    height: 100vh;
}

.form-container {
    width: 30%;
    padding-top: 20px;
}

.logo {
    display: flex;
    justify-content: center;
}

.login-form-section {
    width: 80%;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    background-color: #171B23;
    border-radius: 7px;
    border: 1px solid #30373C;
    margin-top: 4%;
}

.login-slogan {
    color: #C8D1D8;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.login-button {
    font-size: 14px;
    /* background-color: transparent; */
    background-color: #228736;
    border: 1px solid #30373C;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    letter-spacing: 0px;
    width: 100%;
}

.forget-password-container {
    font-size: 12px;
    font-weight: 600;
    color: #58A6FF;
    font-family: 'Raleway', sans-serif;
}

.signup-section {
    display: flex;
    justify-content: center;
}

.signup-section p {
    margin-top: 15px;
    border: 1px solid #30373C;;
    border-radius: 7px;
    width: 24%;
    text-align: center;
    padding: 12px 0;
    color: #C8D1D8;
    font-size: 15px;
}

.signup-here {
color: #58A6FF;
font-family: 'Raleway', sans-serif;
}
